<div class="container-fluid">
    <div class="card border-success text-center">
        <div class="card-header">
          Posted by: {{ quotes.publisher }}
        </div>
        <div class="card-body">
          <h5 class="card-title">Quote No: {{ quotes.id }}</h5>
          <blockquote class="blockquote mb-0">
            <p>"{{ quotes.quote }}"</p>
            <footer class="blockquote-footer">
              <cite title="Source Title">{{ quotes.author }}</cite>
            </footer>
          </blockquote>
        </div>
        <div class="card-footer text-muted">
          <div class="col">
            Posted: {{ quotes.postDate | date: 'short' }}
          </div>
        </div>        
    </div>

</div>