<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div>
                <h1> My Quotes</h1>
                <app-quote-form></app-quote-form>                
            </div>
            

        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

            <h1> Compiled Quotes</h1>
            <table>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Author</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Quote</th>
                        <th scope="col">Upvote</th>
                        <th scope="col">Downvote</th>
                    </tr>
                    <tr *ngFor="let quote of myquotes">
                        <td>{{ quote.id }}</td>
                        <td>{{ quote.author }}</td>
                        <td>{{ quote.publisher }}</td>
                        <td>{{ quote.quote }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>        
    </div>
</div>
