<div class="container-md mx-auto p-3 py-md-5">
    <div class="row">
        <h1 class="display-6">Memorable Cartoon Characters Quotes</h1>
        <hr hr class="mb-5">
        <div class="col-md-4">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

        </div>
        <div class="col-md-8">

<table class="table table-striped">
    <thead>
      <tr>
        <th>Author</th>
        <th>Publisher</th>
        <th>Quotes</th>
        <th>Votes</th>
      </tr>    
    </thead>
    <tbody> 
      <tr *ngFor='let quotes of quotes'>
        <td>{{ quotes.author }}</td> 
        <td>{{ quotes.publisher }} 
        </td> 
        <td>{{ quotes.quote }} <br>Published: {{quotes.publishDate|date: 'medium'}} </td>
        <td>
          <app-vote></app-vote>
        </td>
      </tr> 
    </tbody> 
    
  </table>
        </div>
    </div>
</div>