<header class="bd-header bg-success py-3 d-flex align-items-stretch border-bottom border-primary">
  <div class="container-fluid d-flex align-items-center">
    <h1 class="d-flex align-items-center fs-2 text-white mb-0">
      MyQuotes
    </h1>
  </div>
</header>

<header class="py-5 border-bottom mb-5">
  <div class="container pt-md-1 pb-md-4">
    <div class="row">
      <div class="col-xl-8">
        <h1 class="bd-title mt-0">Memorable Quotes from Cartoon Characters</h1>
        <p class="bd-lead">Quickly get a project started with any of our examples ranging from using parts of the framework to custom components and layouts.</p>
        
        <div class="d-flex flex-column flex-sm-row">
          <a href="https://github.com/twbs/bootstrap/releases/download/v5.1.3/bootstrap-5.1.3-examples.zip" class="btn btn-lg btn-bd-primary" onclick="ga('send', 'event', 'Examples', 'Hero', 'Download Examples');">Download examples</a>
          <a href="https://github.com/twbs/bootstrap/archive/v5.1.3.zip" class="btn btn-lg btn-outline-secondary mt-3 mt-sm-0 ms-sm-3" onclick="ga('send', 'event', 'Examples', 'Hero', 'Download');">Download source code</a>
        </div>
        
      </div>
      <div class="col-xl-4 d-lg-flex justify-content-xl-end">
        <script async="" src="https://cdn.carbonads.com/carbon.js?serve=CKYIKKJL&amp;placement=getbootstrapcom" id="_carbonads_js"></script>

      </div>
    </div>
  </div>
</header>

<div class="container-md mx-auto p-3 py-md-5">
  <div class="row">
    <div class="col-md-5 mb-5">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-7">
      <div class="card border-success mb-5 mx-4 text-center" *ngFor="let quotes of quotes">
          <div class="card-header">
            {{ quotes.publisher }}
          </div>
          <div class="card-body">
            <h5 class="card-title">Quote No: {{ quotes.id }}</h5>
            <blockquote class="blockquote mb-0">
              <p>"{{ quotes.quote }}"</p>
              <footer class="blockquote-footer">
                <cite title="Source Title">{{ quotes.author }}</cite>
              </footer>
            </blockquote>
            <p class="m-3"><app-vote (isComplete)="($event)"></app-vote></p>
          </div>
          <div class="card-footer text-muted">
            Published: {{ quotes.publishDate | date: "medium" }}
          </div>        
      </div>
    </div>
    
  </div>
</div>

<footer class="bg-light border-top border-success text-center p-5">
  <p>Template built for <a href="#">Maryanne Njuguna</a> by <a href="https://twitter.com/themaryanjuguna">@themaryanjuguna</a>.</p>
  <p>
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg><a href="#"> Back to top</a>
  </p>
</footer>
